body{
  background-color:lightyellow;
}
hr{
  background-color: lightyellow;
  border-style:dotted none none;
  border-color: coral;
  border-width:5px;
  width:100%;
}
h1,h3{
  color:brown;
}
